{{#partial "auth-form"}}
	<h2>Log In</h2>
	{{#if error}}
		<p style="color: red">{{error}}</p>
	{{/if}}
	{{#if success}}
		<p style="color: green">{{success}}</p>
	{{/if}}
	<form role='form' action="/login" method="post">
		<input type='text' name="email" placeholder='Enter valid email'/>
		<input type='password' name="password" placeholder='Password'/>
		<br/>
		<button type='submit'> Log In</button>
		<a href='/'>
		  <button type="button"/> Cancel </button>
		</a>
		<br/>
		<br/>
		<a href='/#forgot'>Forgot password.</a> or <a href='/signup'> Sign up</a>
	</form>
{{/partial}}

{{> auth}}