{{#partial "auth-form"}}
	<h2>Sign up</h2>
	{{#if error}}
		<p style="color: red">{{error}}</p>
	{{/if}}
	<form role='form' action="/signup" method="post" style='max-width: 300px;'>
		<input type='text' name="fullname" placeholder='Name'/>
		<input type='text' name="email" placeholder='Email Address'/>
		<input type='password' name="password" placeholder='Password'/>
		<input type='password' name="retype" placeholder='Retype Password'/>
		<br/>
		<button type='submit'> Sign Up!</button>
		<a href='/'>
			<button type="button"/> Cancel </button>
		</a>
		<br/>
	</form>
{{/partial}}
{{> auth}}
