{{#partial "admin-content"}}
    <h2><span style="font-family: icons">+</span> Add a book:</h2>
    {{#if error}}
      <p style="color: red">{{error}}</p>
    {{/if}}

    <form role='form' action="/admin/books/add" method="post" style='max-width: 800px;'>
        <label>Title:</label>
        <input type='text' name="title" placeholder='Title of the book'/>
        <br/>
        <label>ISBN:</label>
        <input type='text' name="isbn" placeholder='ISBN'/>
        <br/>
        <label>Authors:</label>
        <input type='text' name="authors" placeholder='List of Authors'/>
        <br/>
        <label>Publisher:</label>
        <input type='text' name="publisher" placeholder='Name of publisher'/>
        <br/>
        <label>Subject:</label>
        <input type='text' name="subject" placeholder='Subject'/>
        <br/>
        <label>Notes:</label>
        <input type='text' name="notes" placeholder='Notes'/>
        <br/>
        <label>Shelf no:</label>
        <input type='text' name="shelf" placeholder='Shelf No.'/>
        <br/>
        <label>No of copies:</label>
        <input type='number' name="ncopies" placeholder='No of copies'/>
        <br/>
        <button type='submit'> Enter</button>
        <a href='/admin/books'>
          <button type="button"/> Cancel </button>
        </a>
        <br/>
    </form>
{{/partial}}

{{> adminbase}}