{{#partial "admin-content"}}
	<h2><span style="font-family: icons;"></span> Actions: </h2>
	<span style="font-family: icons; color: #555"></span>
	<a href="/admin/issue">
		Issue books
	</a><br/><br/>
	<span style="font-family: icons; color: #555"></span>
	<a href='/admin/books'>
		Manage books
	</a><br/><br/>
	<span style="font-family: icons; color: #555"></span>
	<a href='/admin/users'>
		Manage Users
	</a><br/><br/>
	<span style="font-family: icons; color: #555"></span>
	<a href='/admin/requests'>
		View Book requests
	</a><br/></br/>
	<a href="/">back</a>

{{/partial}}

{{> adminbase}}