{{#partial "main-content"}}
	<div class="content-wrapper">
		{{#if user.isadmin}}
		<div class="admin-panel">
			{{#block "admin-content"}}some actions to come..{{/block}}
		</div>
		{{else}}
			<p style="color: red; font-size: 1.3em; font-weight: lighter; text-align: center; margin: 0; padding-top: 100px"><a href="/logout">Logout</a> and login as admin user.</p>
		{{/if}}	
	</div>
{{/partial}}
{{> incheader}}