{{#partial "body"}}
<section id="header">
  <div class="content-wrapper">
    <a id="logo-link" href="/"><span id="logo-text-light">Ramanujan</span><span id="logo-text-bold">CentralLibrary</span></a>
  </div>
</section>
<section class="main-content">
  <div class="auth-container">
    {{#block "auth-form"}} 
      Nothing to do :/ <br> 
      <a href="/">go home</a>
    {{/block}}
  </div>
</section>
{{/partial}}
{{> base}}