<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ramanujan Central Library, IIESTS | {{title}}</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	{{#block "body"}} Uh oh.. things seem to be broken, don't worry we are at it, things will be fine soon.{{/block}}
	{{#block "footer"}}
	<section style="height: 130px; background-color: rgb(69, 56, 46); align: center; text-align: center; padding-top: 5px" class="footer">
		<a href="http://www.iiests.ac.in"><img style="margin-top: 50px; width: 50px; display: inline-block;" src="/images/iiest_logo.png"></a>
	</section>
	{{/block}}
</body>
<script type="text/javascript" src='/javascript/main.js'></script>
</html>